name: ci (arm)

on:
  push:
    paths:
      - 'Dockerfile-arm64'
      - '.github/workflows/build-arm.yml'
    branches: main

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        id: docker_build_arm
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: dongjoon/apache-spark-github-action-image:arm64
          file: ./Dockerfile-arm64
          platforms: linux/arm64
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
